openapi: 3.1.0
info:
  description:
    "Public Vortex Payments API for customers, subscriptions, invoices,\
    \ payment requests, checkout, receipts, webhooks, tax."
  title: Vortex Payments API
  version: 2026-08
servers:
  - description: Production
    url: https://api.vortex.nyc
  - description: Local development
    url: http://localhost:3210
tags:
  - description: Billing lifecycle routes exposed through Vortex Payments.
    name: billing
  - description: "Products, prices, and billable catalog state."
    name: catalog
  - description: Hosted checkout session flows.
    name: checkout
  - description: "Credit note, refund, and refund reconciliation flows."
    name: credit-notes
  - description: "Customer balance grants, reversals, and expiration."
    name: customer-balance
  - description: Customer profiles and payment-facing customer state.
    name: customers
  - description: Coupons and applied discount lifecycle.
    name: discounts
  - description: Product access and entitlement state.
    name: entitlements
  - description: Hosted payment and customer-facing flows.
    name: hosted
  - description: "Invoice preview, creation, finalization, collection, and lifecycle."
    name: invoices
  - description: Customer payment method setup and management.
    name: payment-methods
  - description: Payment requests and payment links.
    name: payment-requests
  - description: Payment collection and reconciliation.
    name: payments
  - description: Merchant and account payment readiness.
    name: payments-readiness
  - description: "Quotes, quote versions, order forms, and orders."
    name: quotes
  - description: Receipt lookup and receipt lifecycle.
    name: receipts
  - description: Subscription creation and change lifecycle.
    name: subscriptions
  - description: "Tax quote, finalization, and evidence flows."
    name: tax
  - description: "Outbound webhook endpoints, events, deliveries, and replay."
    name: webhooks
paths:
  /customer-portal/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: DELETE /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteCustomerPortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteCustomerPortalPrefix({
              client: vortex,
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCustomerPortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCustomerPortalPrefix({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PATCH /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchCustomerPortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchCustomerPortalPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postCustomerPortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postCustomerPortalPrefix({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PUT /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putCustomerPortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putCustomerPortalPrefix({
              client: vortex,
            });
  /invoice/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: DELETE /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteInvoicePrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteInvoicePrefix({
              client: vortex,
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getInvoicePrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getInvoicePrefix({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PATCH /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchInvoicePrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchInvoicePrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postInvoicePrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postInvoicePrefix({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PUT /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putInvoicePrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putInvoicePrefix({
              client: vortex,
            });
  /dispute-portal/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_dispute_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /dispute-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/dispute-portal/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteDisputePortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteDisputePortalPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_dispute_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /dispute-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/dispute-portal/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getDisputePortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getDisputePortalPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_dispute_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /dispute-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/dispute-portal/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchDisputePortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchDisputePortalPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_dispute_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /dispute-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/dispute-portal/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postDisputePortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postDisputePortalPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_dispute_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /dispute-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/dispute-portal/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putDisputePortalPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putDisputePortalPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /internal/hosted-pay/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteInternalHostedPayPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getInternalHostedPayPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchInternalHostedPayPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postInternalHostedPayPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putInternalHostedPayPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /merchant-onboarding/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteMerchantOnboardingPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getMerchantOnboardingPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchMerchantOnboardingPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postMerchantOnboardingPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putMerchantOnboardingPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /order-form/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteOrderFormPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getOrderFormPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchOrderFormPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postOrderFormPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putOrderFormPrefix, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /v1/checkout/sessions:
    post:
      operationId: createCheckoutSession
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  mode: subscription
                  customerExternalId: cus_123
                  subscriptionExternalId: sub_123
                  collectionMode: automatic
                  lineItems:
                    - priceId: price_core_monthly
                      quantity: 1
                  createdByRef: internal-integration
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCheckoutSessionResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary:
        Create a hosted checkout session. checkoutUrl + token are bearer secrets
        returned only on creation (hash-only at rest) — GET and idempotent replays
        return them as null. Persist the create response or mint a fresh session.
      tags:
        - billing
        - checkout
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/checkout/sessions?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"mode":"subscription","customerExternalId":"cus_123","subscriptionExternalId":"sub_123","collectionMode":"automatic","lineItems":[{"priceId":"price_core_monthly","quantity":1}],"createdByRef":"internal-integration"}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCheckoutSession, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCheckoutSession({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
              body: {"mode":"subscription","customerExternalId":"cus_123","subscriptionExternalId":"sub_123","collectionMode":"automatic","lineItems":[{"priceId":"price_core_monthly","quantity":1}],"createdByRef":"internal-integration"},
            });
  /v1/checkout/sessions/{checkoutSessionId}:
    get:
      operationId: getCheckoutSession
      parameters:
        - explode: false
          in: path
          name: checkoutSessionId
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary:
        Inspect a hosted checkout session. checkoutUrl and token are always
        null — the redeemable hosted link exists only in the create response.
      tags:
        - billing
        - checkout
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/checkout/sessions/{checkoutSessionId}?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCheckoutSession, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCheckoutSession({
              client: vortex,
              path: { checkoutSessionId: "..." },
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /v1/coupons:
    get:
      operationId: listCoupons
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponListResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: List billing coupons
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { listCoupons, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await listCoupons({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      operationId: createCoupon
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  couponId: coupon_123
                  code: SAVE25
                  name: Save 25%
                  discountType: percentage
                  percentage: 25
                  duration: forever
                  targets:
                    priceIds:
                      - price_123
            schema:
              $ref: "#/components/schemas/CreateCouponRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a billing coupon
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"couponId":"coupon_123","code":"SAVE25","name":"Save 25%","discountType":"percentage","percentage":25,"duration":"forever","targets":{"priceIds":["price_123"]}}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCoupon, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCoupon({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
              body: {"couponId":"coupon_123","code":"SAVE25","name":"Save 25%","discountType":"percentage","percentage":25,"duration":"forever","targets":{"priceIds":["price_123"]}},
            });
  /v1/coupons/{couponId}:
    get:
      operationId: getCoupon
      parameters:
        - explode: false
          in: path
          name: couponId
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Get one billing coupon
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons/{couponId}?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCoupon, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCoupon({
              client: vortex,
              path: { couponId: "..." },
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /v1/credit-notes:
    post:
      operationId: createCreditNote
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  creditNoteId: cnote_123
                  invoiceId: inv_123
                  reason: product_unsatisfactory
                  refundAmount: 2500
                  lines:
                    - invoiceLineId: line_123
                      description: Refund unused service
                      amount: 2500
                      bucket: refund
            schema:
              $ref: "#/components/schemas/CreditNoteCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditNoteResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a credit note with explicit line attribution
      tags:
        - billing
        - credit-notes
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"creditNoteId":"cnote_123","invoiceId":"inv_123","reason":"product_unsatisfactory","refundAmount":2500,"lines":[{"invoiceLineId":"line_123","description":"Refund unused service","amount":2500,"bucket":"refund"}]}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCreditNote, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCreditNote({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
              body: {"creditNoteId":"cnote_123","invoiceId":"inv_123","reason":"product_unsatisfactory","refundAmount":2500,"lines":[{"invoiceLineId":"line_123","description":"Refund unused service","amount":2500,"bucket":"refund"}]},
            });
  /v1/credit-notes/{creditNoteId}:
    get:
      operationId: getCreditNote
      parameters:
        - explode: false
          in: path
          name: creditNoteId
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditNoteResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Inspect a credit note and its tax reversal evidence
      tags:
        - billing
        - credit-notes
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes/{creditNoteId}?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCreditNote, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCreditNote({
              client: vortex,
              path: { creditNoteId: "..." },
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /v1/credit-notes/{creditNoteId}/refund:
    post:
      operationId: refundCreditNote
      parameters:
        - explode: false
          in: path
          name: creditNoteId
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  paymentId: pay_123
            schema:
              $ref: "#/components/schemas/CreditNoteRefundRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditNoteResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Execute or record a credit-note refund
      tags:
        - billing
        - credit-notes
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes/{creditNoteId}/refund?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"paymentId":"pay_123"}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { refundCreditNote, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await refundCreditNote({
              client: vortex,
              path: { creditNoteId: "..." },
              query: { environment: "sandbox", merchantAccountId: "..." },
              body: {"paymentId":"pay_123"},
            });
  /v1/customers:
    get:
      operationId: listCustomers
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: externalCustomerRef
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: limit
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: cursor
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: "List billing customers, optionally filtered by external ref"
      tags:
        - billing
        - customers
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers?externalCustomerRef=...&limit=...&cursor=...&environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { listCustomers, createVortex } from "@vortex-api/vortex/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await listCustomers({
              client: vortex,
              query: { externalCustomerRef: "...", limit: "...", cursor: "...", environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      operationId: createCustomer
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  name: Acme Inc.
                  defaultCurrency: USD
                  externalCustomerRef: acme-org-1
                  email: billing@example.com
            schema:
              $ref: "#/components/schemas/CustomerCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a billing customer
      tags:
        - billing
        - customers
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
[...]
